:root {
    --primary-text-color: #212121;
    --title-text-color: #000000;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --second-bc: #2F303A;
    --white: #fff;
    --btn-bg-color: #F5F4FA;

}

body {
    background-color: var(--white);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }

/* Header */

.logo {
    color: var(--accent-color);
}

.header-logo {
    color: var(--title-text-color);
}

.header-link {
    color:inherit ;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.site-nav .header-link.current {
    color: var(--accent-color);
}

.header-address {
    color: var(--second-text-color);
}

.header-address:hover, 
.header-address:focus {
    color: var(--accent-color);
}

/* main */

.hero {
    background-color: var(--second-bc);
}
.hero-title {
    color: var(--white);
}

.btn {
    background-color: var(--btn-bg-color);
    cursor: pointer;
}

.btn:hover, 
.btn:focus{
background-color: var(--accent-color);
color: var(--white);
cursor: pointer;
}

.description {
    color: var(--second-text-color);
}

/* footer */

.page-footer {
    background-color: var(--second-bc);
}

.page-footer .address {
    color: var(--white);
}

.page-footer .contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer-logo{
    color: var(--white);
}

/* portfolio */

